
@{
    ViewBag.Title = "MetaList_PE";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
@model List<DTO.MetaDTO_PE>

<section class="content-header">
    <h1>Meta List</h1>
    <ol class="breadcrumb float-sm-left">

        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Meta</a></li>
        <li class="breadcrumb-item"><a>Meta List</a></li>
    </ol>
</section>


<div class="card-footer">
    <a href="~/Admin/PE/AddMeta_PE">Add Meta</a>

</div>



<div class="card">

    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>MetaID</th>
                    <th>Name</th>
                    <th>About</th>
                    <th>MetaContent</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>
                            @item.MetaID
                        </td>
                        <td>@item.Name</td>
                        <td> @item.About</td>
                        <td>@item.MetaContent</td>
                        <td><a href="/Admin/PE/UpdateMata_PE/@item.ID">Update</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>MetaID</th>
                    <th>Name</th>
                    <th>About</th>
                    <th>MetaContent</th>
                    <th>Update</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
    <!-- /.card -->
    </div >




    <!-- /.card -->


