
@model DTO.BomAdv
<div class="box-body">

    <label>Number of manufacturing process details</label>

    @for (int i = 0; i < DTO.UserStatic.numstations; i++)
    {
        <br />
        <div class="form-group">
            <label>mechine id @i</label>
         
            @Html.TextBoxFor(m => m.Mechine_id[i], new { @class = "form-control", @placeholder = "mechnine id", @type = "number" })

        </div>
        <br />
        <div class="form-group">
            <label>mechine name @i</label>
            <br/>
            <label>2- witherring, 3-rolling, 4- fermatation, 5- drying , 6-grading, 9-colour soarting, 10- furness</label>>
            @Html.DropDownList("@Mechine_name[i]",new SelectList(new[] { "2", "3", "4","5","6","9","10" }), new { @class = "form-control select1", @placeholder = "machine name" })

        </div>
        <br />
        <div class="form-group">
            <label>number of employees @i</label>
   
            @Html.TextBoxFor(m => m.Numberofemployee[i], new { @class = "form-control", @placeholder = "number of employes for stations", @type = "number", @min = "1" })

        </div>

    }


    <input type="number" name="ID" value="@Model.ID" hidden />

    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Save</button>


    </div>

</div>
