@model DTO.SocialLogDTO
<div class="box-body">
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "fore-control", @placeholder = "Social Log Name" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        <label>Link</label>
        @Html.TextBoxFor(x => x.Link, new { @class = "fore-control", @placeholder = "Social Log Link" })
        @Html.ValidationMessageFor(x => x.Link)
    </div>
    <input hidden type="number" value="@Model.ID" name="ID" />
    <div class="form-group">
        <label>Link</label>
        @Html.LabelFor(x => x.SocialImage)
        <br/>
        <input type="file" name="SocialImage" accept="image/gif,image/jpeg,image/jpg, image/png" onchange="$('SocialImage')[0].src=window.URL.createObjectURL(this.files[0])"/>
        <br/>
        @if (Model != null && Model.SocialImage != null)
        {
            <br />
            <img src="~/Areas/Admin/content/socialmediaimagess/@Model.ImagePath" width="100" height="100"  />
        }
        else
        {
            <img src="" width="300" height="200" id="SocialImage" />

        }


    </div>
    <div class="card-footer">
        <button class="btn btn-primary">Save</button>
    </div>
</div>
