
@model DTO.MetaDTO_PE
<div class="box-body">
    <div class="form-group">
        <label>Make a complain</label>
        @Html.TextBoxFor(x => x.MetaContent, new { @class = "form-control", @placeholder = "eleborate the problem as a descriptive way" })
        @Html.ValidationMessageFor(x => x.MetaContent)

    </div>
    <div class="form-group">
        <label>Complain staff</label>
        @Html.DropDownList("Name", new SelectList(new[] { "SE", "MO", "PM", "HRE", "ST" }), new { @class = "form-control select1" })

    </div>
    <div class="form-group">
        <label>Complain catagory</label>
        @Html.DropDownList("About", new SelectList(new[] { "material", "mechine", "employ", "rawmaterial", "Product", "leaves" }), new { @class = "form-control select2" })

    </div>
    <input type="number" name="ID" value="@Model.ID" hidden />
    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Save</button>


    </div>
</div>