@model DTO.UserDTO
<div class="box-body">
    <div class="form-group">
        <label>User Name</label>
        @Html.TextBoxFor(x => x.UserName, new { @class = "fore-control", @placeholder = "User Name" })
    </div>
    <div class="form-group">
        <label> Name</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "fore-control", @placeholder = "Name" })
    </div>
    <div class="form-group">
        <label>Sure Name</label>
        @Html.TextBoxFor(x => x.SureName, new { @class = "fore-control", @placeholder = "Sure Name" })
    </div>
    <div class="form-group">
        <label>Password</label>
        @Html.TextBoxFor(x => x.Password, new { @class = "fore-control", @placeholder = "Password" })
    </div>
    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(x => x.email, new { @class = "fore-control", @placeholder = "Email" })
    </div>
    <div class="form-group">
        <label>Link</label>
        @Html.LabelFor(x => x.UserImage)
        <br/>
        <input type="file" name="UserImage" accept="image/gif,image/jpeg,image/jpg, image/png" onchange="$('UserImage')[0].src=window.URL.createObjectURL(this.files[0])" />
        <br />
        @if (Model != null && Model.UserImage != null)
        {
            <br />
            <img src="~/Areas/Admin/content/socialmediaimagess/@Model.imagepath" width="300" height="200" />
        }
        else
        {
            <img src="" width="300" height="200" id="UserImage" />

        }


    </div>
    <div class="card-footer">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>

</div>




